@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}


/* /📍 레이아웃 */
#wrap {}

#header {
    height: 325px;
    background: url(https://cdn.pixabay.com/photo/2016/11/21/14/24/dark-1845685_1280.jpg) center top;
}

#contents {}


/* 📍 contents layout */
.cont_nav {
    background-color: #f6fdff;
}

#cont_tit {
    background-color: #eaf7fd;
}

#cont_ban {
    background-color: #DCEFF7;
}

#cont_cont {
    background-color: #f6fdff;
}



/* 📍 container */
.container {
    width: 990px;
    margin: 0 auto;
}

/* 📍 header */
.header {}

.header .header-menu {
    /* width: 170px; margin-left: auto; = text=align: right; */
    text-align: right;
}

.header .header-menu a {
    color: #fff;
}

.header .header-title {
    text-align: center;
}

.header .header-title h1 {
    background-color: #4aa8d4;
    color: #fff;
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 40px;
    display: inline-block;
    /* 인라인요소는 패딩과 마진이 좌우만 적용된다 상하X */
    padding: 5px 20px 6px;
}

.header .header-title a {
    display: inline-block;
    padding: 5px 20px 6px;
    color: #fff;
    font-size: 18px;
    background-color: #2698cb;
    margin-top: -5px;
    /* 패딩은 -값을 줄 수 없다 */
}

.header .header-icon {
    text-align: center;
    margin-top: 30px;
}

.header .header-icon a {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-image: url(../img/icon.png);
    margin: 0 3px;
    /* 아이콘마다 간격은 6임 각자 3픽셀씩 가지니까 */
}

.header .header-icon .icon1 {
    background-position: 0 0px;

}

.header .header-icon .icon1:hover {
    background-position: -60px 0px;
    /* 시간을 주면 옆으로 움직이는 게 보여서 시간 주면 안 됨 */
}

.header .header-icon .icon2 {
    background-position: 0 -60px;
    /* x축 y축 left top */
    /* 이미지를 위로 올리는 값을 구해서 위치에 맞는 그림을 찾아라 */
}

.header .header-icon .icon2:hover {
    background-position: -60px -60px;
}

.header .header-icon .icon3 {
    background-position: 0 -120px;
}

.header .header-icon .icon3:hover {
    background-position: -60px -120px;
}

.header .header-icon .icon4 {
    background-position: 0 -180px;
}

.header .header-icon .icon4:hover {
    background-position: -60px -180px;
}


/* 📍 nav */

.nav {
    display: none;
    padding: 30px 0;
}

.nav>div {
    float: left;
    width: 40%;
}

/* 3개 HTML Reference CSS Reference WEBSTANDARD */
.nav>div.last {
    width: 20%;
}

.nav>div h3 {
    font-size: 18px;
    color: #25a2d0;
    margin-bottom: 4px;
}

.nav>div ol {
    overflow: hidden;
}

.nav>div ol li {
    float: left;
    width: 50%;
    margin-bottom: 3px;
    position: relative;
}

.nav>div ol li::after {
    content: "";
    /* 애프터는 컨텐츠랑 세트 */
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #25a2d0;
    /* transform: scaleX(0);
    transform-origin: left top; */
    /* 애니메이션이 시작되는 위치 x값 y값 */
    transition: 0.3s;
}

.nav>div ol li:hover::after {
    /* transform: scale(1); */
    width: 80%;
    /* 중앙이 기준이다 중앙에서 시작함 */
}


.nav>div.last ol li {
    width: 100%;
}

.nav>div ol li a {}


/* 📍 tit 나는 퍼블리셔이다 */
.tit {
    position: relative;
}

.tit h2 {
    font-size: 40px;
    color: #2c94c4;
    text-align: center;
    font-family: 'Nanum Brush Script', cursive;
    padding: 10px 0;
    letter-spacing: 2px;
    /* 자간 */
}

.tit .btn {
    position: absolute;
    right: 0;
    top: 11px;
    width: 60px;
    height: 60px;
    background-image: url(../img/icon.png);
    background-position: 0 -600px;
}

/* .tit .btn:hover{
    background-position: -60px -600px;
} */

.tit .btn.on {
    background-position: 0 -660px;
}


/* 📍 banner */
.ban {
    padding: 24px 0 40px;
    padding-left: 25px;
}

.ban img {
    border: 4px solid #dcdcdc !important;
}

.ban img:hover {
    /* = border: 4px solid #98dcdc; */
    border-color: #98dcdc !important;
}


/* 📍 slick */
/* 개발자모드로 들어가서 previous버튼 누르면 나옴! */
.ban .slick-arrow {
    position: absolute;
    left: -80px;
    top: 70px;
    background: url(../img/icon.png);
    width: 43px;
    height: 43px;
    background-position: -150px 0;
    text-indent: -99999em;
}

/* 이게 없으면 버튼 위에 previous랑 next가 보인다
    1em=가지고 있는 폰트의 크기
    1rem=root자리가 가지고 있는 폰트의 크기*/

.ban .slick-prev:hover {
    background-position: -193px 0;
}

.ban .slick-next {
    right: -80px;
    left: auto;
    background-position: -150px -43px;
}

.ban .slick-next:hover {
    background-position: -193px -43px;
}


/* ✨ css에서 폰트어썸을 사용하는 방법 */
/* .ban .slick-arrow {
    position: absolute;
    left: -80px;
    top: 70px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    visibility: hidden; */
/* 히든을 해줘야 글자가 사라짐 밑에 비포에 따로 비지블을 해줘야 함 */
/* font-size: 30px;
    color: #2a91c1;
}

.ban .slick-prev {}

.ban .slick-prev:before {
    content: "\f137";
    visibility: visible;
}

.ban .slick-next {
    left: auto;
    right: -110px;
}

.ban .slick-next:before {
    content: "\f138";
    visibility: visible;
} */


/* 개발자모드로 직접 눌러봐야함 */
.ban .slick-dots {
    text-align: center;
}

.ban .slick-dots li {
    display: inline-block;
    margin: 5px;
    /* 앞1뒤 5씩 간격 앞2뒤 앞3뒤 앞4뒤 앞5뒤 앞6뒤 */
}

.ban .slick-dots button {
    width: 15px;
    height: 15px;
    background-color: #5dbfeb;
    border-radius: 50%;
    font-size: 0;
    cursor: pointer;
    /* 버튼을 누른다는 표시 */
    transform: scaleX(1);
    transition: 0.3s;
}

.ban .slick-dots li.slick-active button {
    background-color: #2b91c8;
    transform: scaleX(1.3);
    /* =30%커짐 */
    border-radius: 7px;
    transform-origin: left center;
    /* 왼쪽에서부터 오른쪽으로 커진다 */
}


.cont {
    padding-top: 30px;
    /* 전체영역 잡을 땐 패딩으로 */
}

.cont .column {
    width: calc((100% - 122px)/3);
    /* 100프로에서 3등분을 해서 60px(칸 사이에 30px을 줘야하는데 제일 오른쪽은 안 줘도 되니까 60임)을 빼야한다 */
    height: 363px;
    float: left;
    padding-right: 30px;
    margin: 0 30px 30px 0;
    border-right: 1px solid #c8c8c8;
}


.cont .col1 {}

.cont .col2 {}

.cont .col3 {
    border-right: 0;
    margin-right: 0;
    padding-right: 0;
}

.cont .col4 {}

.cont .col5 {}

.cont .col6 {
    border-right: 0;
    margin-right: 0;
    padding-right: 0;
}

.cont .more {
    background: url(../img/icon.png);
    background-position: -150px -90px;
    width: 17px;
    height: 17px;
    right: 0px;
    top: 0px;
}


.cont .column h3 {}

.cont .column h3 .ico_img {
    width: 60px;
    height: 60px;
    background-image: url(../img/icon.png);
}

.cont .column h3 .ico_tit {
    padding-left: 70px;
    font-size: 16px;
    color: #2c94c4;
}

.cont .column .ico_desc {
    padding-left: 70px;
    border-bottom: 1px solid #c8c8c8;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.cont .col1 h3 .ico_img {
    background-position: 0px -240px;
}

.cont .col2 h3 .ico_img {
    background-position: 0px -300px;
}

.cont .col3 h3 .ico_img {
    background-position: 0px -360px;
}

.cont .col4 h3 .ico_img {
    background-position: 0px -420px;
}

.cont .col5 h3 .ico_img {
    background-position: 0px -480px;
}

.cont .col6 h3 .ico_img {
    background-position: 0px -540px;
}


.cont .col1 h3 .ico_img:hover {
    background-position: -60px -240px;
}

.cont .col2 h3 .ico_img:hover {
    background-position: -60px -300px;
}

.cont .col3 h3 .ico_img:hover {
    background-position: -60px -360px;
}

.cont .col4 h3 .ico_img:hover {
    background-position: -60px -420px;
}

.cont .col5 h3 .ico_img:hover {
    background-position: -60px -480px;
}

.cont .col6 h3 .ico_img:hover {
    background-position: -60px -540px;
}


/* 📍 게시판 notice */
.notice {
    position: relative;
}

.col1 h4 {
    font-size: 14px;
    color: #0093bd;
    font-weight: bold;
    padding-bottom: 3px;
}

/* notice랑 notice2 h4가 똑같으니까 col1로 통일 */


.col1 ul li {
    background: url(../img/dot.gif) no-repeat 0 8px;
    padding-left: 8px;
    /* 글자랑 이미지가 있으면 글자를 움직여야 한다. 글자를 움직일 때는 패딩 사용 */
}

.notice ul {}

.notice ul li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* ✨ 말줄임말
    1. overflow:hidden;
    2.text-overflow:ellipsis;
    3.white-space:nowrap; 페이지 밑으로 글자가 내려오는 게 아니라 계속 옆으로 이어짐 */

    /* ✨ white-space: pre; html에 적은 그대로 나옴
       white-space: normal; 기본값 페이지를 넘어가면 자동으로 글자가 밑으로 내려감 */
}


.notice ul li a {
    font-size: 12px;
}


.col1 .more:hover {
    background-position: -167px -90px;
}


/* 📍 게시판 notice2 */
.notice2 {
    margin-top: 15px;
    position: relative;
}


.notice2 ul {}

.notice2 ul li {
    overflow: hidden;
}

.notice2 ul li a {
    float: left;
    width: 65%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.notice2 ul li span {
    float: right;
    width: 30%;
}


/* 📍 notice_hover */
.notice_hover {}

.notice_hover h4 {
    font-size: 14px;
    color: #0093bd;
    font-style: bold;
    padding-bottom: 3px;
}

.notice_hover ul {}

.notice_hover ul li {
    float: left;
    margin-right: 2%;
    width: 32%;
}

.notice_hover ul li:last-child {
    margin-right: 0;
}

.notice_hover ul li a span {
    position: relative;
    display: block;
}

.notice_hover ul li a span img {
    width: 100%;
    display: block;
    /* 이미지요소가 가진 공간을 없애는 방법
    inline요소이기 떄문에 알 수 없는 공간이 발생한다
    !. display: block;
    2. vertical-align:top; */
}

/* ✨ 영역을 안 보이게 하는 방법
   1. display:none; css 공간, 영역이 없어짐
   2. visibility: hidden; 공간 O
   3. opacity:0; 공간 O, 애니메이션 O */

.notice_hover ul li a span em {
    opacity: 0;
    transition: 0.3s;
    position: absolute;
    top: 0;
    left: 0;
    /* right: 0; bottom: 0; */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ✨ : 하나는 존재 / :: hover() 2개는 가상요소 html에 없는 부분 */

.notice_hover ul li a span:hover em {
    opacity: 1;
}

/* ✨ 글자 가운데 정렬
    1. line-height:92px;
       text-align:center;
    2. display:flex;
       justify-content: center;
       align-items: center;
*/

.notice_hover ul li a strong {
    font-size: 12px;
    display: block;
    padding-top: 3px;
    /* 인라인요소는 위아래 적용 안 됨 좌우는 됨 그래서 블록 요소로 바꿔줘야 함 */
}


/* 📍 notice_hover2 */
.notice_hover2 {}

.notice_hover2 ul {}

.notice_hover2 ul li {
    float: left;
    width: 32%;
    margin-right: 2%;
}

/* .notice_hover ul li:nth-child(4){} 4번째 자식 */
.notice_hover2 ul li:last-child {
    margin-right: 0;
}

.notice_hover2 ul li a {}

.notice_hover2 ul li a span {
    overflow: hidden;
    position: relative;
    display: block;
}

.notice_hover2 ul li a span img {
    width: 100%;
    display: block;
}

.notice_hover2 ul li a span em {
    position: absolute;
    bottom: -30px;
    left: 0;
    /* right: 0; */
    width: 100%;
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.notice_hover2 ul li a span:hover em {
    padding: 3px 0;
    bottom: 0;
}

.notice_hover2 ul li a span strong {
    font-size: 12px;
    display: block;
    padding-top: 3px;
}


/* 📍 게시판 유형 3 */
.notice3 {
    position: relative;
}

/* ir 효과 더보기 +버튼 때문에 포지션을 줘야 한다 */

.notice3 h4 {
    font-size: 14px;
    color: #0093bd;
    font-style: bold;
    padding-bottom: 3px;
}

.notice3 ul {}

.notice3 ul li {
    position: relative;
    padding: 8px 0 16px 60px;
}

/* 원래 글자랑 사진이랑 패딩을 줘서 같은 위치에 있어야 하는데 사진에는 앱솔루트를 줘서 0값에 감 글자는 위치 고정 */

.notice3 ul li a {}

.notice3 ul li a img {
    position: absolute;
    width: 50px;
    left: 0;
    top: 0;

}

.notice3 ul li a strong {}

.notice3 ul li a span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* 📍 탭 메뉴 */
.tab_menu {
    position: relative;
    border: 1px solid #ccc;
    height: 108px;
    padding: 8px;
}

.tab_menu ul {
    border-bottom: 1px solid #ccc;
    /* 자식은 부모의 패딩값에 들어가지 못한다 */
}

.tab_menu ul li {
    float: left;
    border: 1px solid #ccc;
    margin-right: -1px;
    margin-bottom: -1px;
    /* 선이 겹쳐서 2겹이 될 때 마진으로 넓혀준다 */
}

.tab_menu ul li a {
    display: block;
    padding: 5px 10px;
}


.tab_menu ul li.active {
    background-color: #2c94c4;
}

.tab_menu ul li.active a {
    color: #fff;
}

.tab_menu ul li ul {
    position: absolute;
    left: 11px;
    top: 48px;
    width: 270px;
    border-bottom: none;
}

.tab_menu ul li ul li {
    border: none;
    float: none;
    background: url(../img/dot.gif) no-repeat 0 9px;
    padding-left: 8px;
}

.tab_menu ul li ul li a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 0 3px 0;
}


.tab_menu ul li.active ul li a {
    color: #222;
}

/* 📍 게시판 4 */
.notice4 {
    position: relative;
    margin-top: 15px;
    border: 1px solid #ccc;


}

.notice4 h4 {
    padding: 8px 10px;
    border-bottom: 1px solid #ccc;
    color: #0090bd;
}

.notice4 h4 em {
    color: #cf3292;
}

.notice4 ul {
    padding: 10px;
}

.notice4 ul li {
    overflow: hidden;
}

.notice4 ul li a {
    float: left;
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.notice4 ul li span {
    float: right;
    width: 30%;
}

.notice4 .more {
    position: absolute;
    background: none;
    width: auto;
    height: auto;
    top: 8px;
    right: 10px;
}


/* 📍 gallery */
.gallery {
    position: relative;
    border: 1px solid #ccc;
}

.gallery h4 {
    color: #0090bd;
    font-size: 14px;
    border: 1px solid #ccc;
    font-weight: bold;
    padding: 10px 0 8px 11px;
}

.gallery .gallery_img {}

.gallery .gallery_img img {
    width: 100%;
}

.gallery .gallery_btn {
    position: absolute;
    right: 8px;
    top: 8px;
}

.gallery .gallery_btn button {
    width: 23px;
    height: 23px;
    background: url(../img/icon.png);
    cursor: pointer;
}

.gallery .gallery_btn button.gb_icon1 {
    background-position: -150px -120px;
}

.gallery .gallery_btn button.gb_icon1:hover {
    background-position: -173px -120px;
}

.gallery .gallery_btn button.gb_icon2 {
    background-position: -150px -143px;
}

.gallery .gallery_btn button.gb_icon2:hover {
    background-position: -173px -143px;
}

.gallery .gallery_btn button.gb_icon3 {
    background-position: -150px -166px;
}

.gallery .gallery_btn button.gb_icon3:hover {
    background-position: -173px -166px;
}

.gallery .gallery_btn button.gb_icon4 {
    background-position: -150px -189px;
}

.gallery .gallery_btn button.gb_icon4:hover {
    background-position: -173px -189px;
}


/* 📍 login_wrap */
.login_wrap {
    background-color: #f2f4f5;
    padding: 15px;
}

.login_header {
    font-size: 12px;
    padding: 3px 0;
    margin-bottom: 3px;
}

.login_header .lh_check {
    padding-right: 15px;
    float: left;
}

.login_header .lh_check .infor_check {
    vertical-align: -3px
}


.lh_check .infor_check .lh_ip em {}


.login_header .lh_ip {
    float: left;
}

.login_content {
    position: relative;
}

.login_content .ic_text {}

.login_content .ic_text .input_text {
    width: 182px;
    height: 16px;
    border: 1px solid #bebebe;
    background-color: #fff;
    padding: 2px 5px;
    margin-bottom: 3px;
    outline: none;
    /* 클릭했을 때 박스 테두리가 생기는 거 방지 */
}

.login_content .lc_btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 62px;
    height: 47px;
    background-color: #fff;
    border: 1px solid #bebebe;
}

.login_footer {
    margin-top: 5px;
}

.login_footer ul {}

.login_footer ul li {
    display: inline;
}


/* 📍 col3 popup */
.popup {
    margin-top: 15px;
}

.popup h4 {
    font-size: 14px;
    color: #0093bd;
    font-weight: bold;
    padding-bottom: 3px;
}

.popup ul {}

.popup ul li {
    width: 31.66%;
    float: left;
    margin-left: 1%;
}

.popup ul li.lightgallery {
    margin-right: 0;
}

.popup ul li a {}

.popup ul li a img {
    width: 100%;
}


/* 📍 footer */
#contents {}

#footer {
    border-top: 1px solid #eee;
}

.footer {
    padding: 25px 0;
    text-align: center;
}

.footer ul {}

.footer ul li {
    position: relative;
    display: inline;
    padding: 0 7px 0 10px;
}

.footer ul li::before{
    /* | */ 
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 12px;
    background-color: #ccc;
}

.footer ul li:nth-child(1)::before {
    display: none;
}

.footer ul li a {}

.footer ul li a strong {}

.footer address {}

/* 📍 layer popup */
#layer {
    display: none;
    position: fixed;
    left: 50px;
    top: 50px;
    width: 700px;
    border: 10px solid #DCEFF7;
}

#layer img {
    width: 100%;
    display: block;
}

#layer .close {
    background-color: #0093bd;
    color: #fff;
    padding: 2px 6px;
    position: absolute;
    right: 10px;
    top: 10px;
}